// [0] Settings
// [1] Typography
// [2] Navigation
// [3] Main Content
// [4] Card
// [5] Footer
// [6] Etc

// [0] ================================================================
/*
  Settings
*/
$primary-color: #64B63D;
$dark-color: #215708;
$soft-color: #ECFFE3;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.padx-1{
  padding-left: 5px;
  padding-right: 5px;
}
.padx-2{
  padding-left: 10px;
  padding-right: 10px;
}
.padx-3{
  padding-left: 15px;
  padding-right: 15px;
}
.padx-4{
  padding-left: 20px;
  padding-right: 20px;
}
.pady-1{
  padding-top: 5px;
  padding-bottom: 5px;
}
.pady-2{
  padding-top: 10px;
  padding-bottom: 10px;
}
.pady-3{
  padding-top: 15px;
  padding-bottom: 15px;
}
.pady-4{
  padding-top: 20px;
  padding-bottom: 20px;
}
.pad-1{
  padding: 5px;
}
.pad-2{
  padding: 10px;
}
.pad-3{
  padding: 15px;
}
.pad-4{
  padding: 20px;
}
.shadow{
  box-shadow: 3px 6px 13px rgba(33, 87, 8, 0.1);
}

// [1] ================================================================
/*
  Typography
*/
@font-face {
  font-family: 'regl-Font';
  src: url('/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'bold-Font';
  src: url('/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'medi-Font';
  src: url('/fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'semi-Font';
  src: url('/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'ligh-Font';
  src: url('/fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: 'thin-Font';
  src: url('/fonts/Poppins-Thin.ttf');
}


h1{
  font-size: 24px;
  letter-spacing: 1px;
  font-family: 'bold-Font';
}

h2{
  font-size: 22px;
  font-family: 'semi-Font';
  letter-spacing: 1px;
}

h3{
  font-family: 'medi-Font';
  font-size: 20px;
}
h4{
  font-family: 'medi-Font';
  font-size: 18px;
}
h5{
  font-family: 'medi-Font';
  font-size: 16px;
  letter-spacing: 1px;
}
a, p, span, li, tr{
  font-family: 'regl-Font';
  font-size: 12px;
}
button{
  font-family: 'regl-Font';
  font-size: 14px;
}
.card, .resto__menu_card, .resto__review_card, .resto__title_box{
  background-color: #FFF;
  border-radius: 10px;
  padding: 10px;
}

// [2] ================================================================
/*
  Navigation
*/
 
.app-bar {
  padding: 16px;
  display: grid;
  background-color: $primary-color;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .app-bar__menu {
    display: flex;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 44px;
      height: 44px;
    }
  }
  .app-bar__brand {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    h3 {
      color: #FFF;
      margin-bottom: 0;
      user-select: none;
    }
  }
  .app-bar__navigation {
    position: absolute;
    top: 0;
    left: -100%;
    width: calc(100% - 140px);
    height: 100vh;
    transition: all 0.3s;
    padding: 8px 20px;
    background-color: white;
    overflow: hidden;
    h1{
      height: 44px;
      display: flex;
      align-items: center;
      margin: 10px;
    }
    ul li{
      list-style: none;
      padding: 0 10px;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        width: 100%;
        height: 44px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 20px;
        font-family: 'ligh-Font';
        img{
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }
  }
  .app-bar__navigation.open {
    left: 0;
  }
}
 
// [3] ================================================================
/*
  Main Content
*/
 
main {
  flex: 1;
  .jumbotron{
    overflow-x: hidden;
    position: relative;
    background-color: $primary-color;
    width: auto;
    height: 320px;
    display: flex;
    align-items: center;
    padding: 0 30px;
  }
  .content{
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    background-color: #ECFFE3;
  }
}

// [3.1] Jumbotron

.jumbotron{
  .jumbotron_img{
    position: absolute;
    left: 120px;
    width: 100%;
    height: 240px;
    border-radius: 40px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h1{
    z-index: 2;
    font-size: 20px;
    text-shadow: 2px 3px 2px rgba(0,0,0,0.2);
    color: #FFF;
    width: 80%;
  }
}

// [3.2] Content Main

.content {
  .content__heading {
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .content__box{
    display: grid;
    .card{
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
  .content__slider_x_box{
    position: relative;
    left: 0;
    overflow-x: scroll;
    .slider{
      display: inline-flex;
      padding-right: 40px;
    }
  }
}


// [3.3] Content on Detail page
#detail{
  .detail__head{
    position: relative;
    width: 100%;
    padding-bottom: 60px;
    background-color: #64B63D;
    .detail__image{
      width: 100%;
      height: 320px;
      object-fit: cover;
      border-radius: 10px;
    }
    .resto__title_box{
      position: absolute;
      left: 20px;
      bottom: -40px;
      width: calc(100% - 130px);
      height: 80px;
      hr{
        margin: 5px;
        width: calc(100% - 10px);
        border: none;
        border-bottom: 1px solid #E4E4E4;

      }
      .resto__rate_place{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 5px;
        div{
          display: flex;
          align-items: center;
          color: #6c6c6c;
          img{
            margin-right: 5px;
          }
          p{
            font-family: 'medi-Font';
          }
        }
      }
    }
    .resto__favorite_btn{
      position: absolute;
      right: 20px;
      bottom: -40px;
      width: 80px;
      height: 80px;
      button{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
        border-radius: 10px;
        border: none;
        &.liked{
          background-color: $dark-color;
        }
      }
    }
  }
  .detail__body{
    padding-top: 60px;
    *>h5{
      margin: 0 10px 5px 10px;
    }
    *>p{
      margin: 0 10px 0 10px;
    }
    .only_web__grid {
      display: block;
      &>div{
       margin-bottom: 30px;
     }
    }
    .resto__desc{
      .address_head{
        padding-top: 30px
      }
    }
    .resto__menu{
      .resto__menu_box{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 10px;
        border-radius: 10px;
        .resto__menu_card{
          position: relative;
          width: 100%;
          span{
            margin-bottom: 5px;
            font-family: 'medi-Font';
            color: #6c6c6c;
          }
          ul li{
            margin-left: 20px;
          }
        }
      }
    }
    .resto__review{
      .resto__review_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin: 5px;
        .review{
          &__name{
            font-family: 'medi-Font';
            margin-bottom: 5px;
          }
          &__text{
            text-align: center;
            margin-bottom: 10px;
          }
          &__date{
            font-size: 10px;
            font-family: 'thin-Font';
          }
        }
      }
    }
    .resto__add_review{
      input, textarea{
        display: block;
        width: 100%;
        padding: 10px;
        border: 2px solid #6c6c6c;
        background-color: #f8f8f8;
        border-radius: 5px;
        margin-bottom: 10px;
        font-family: 'regl-Font';
        &:focus, &:focus-visible{
          outline: #64B63D auto 1px;
        }
      }
      label{
        font-family: 'medi-Font';
        color: #6c6c6c;
        margin-left: 10px;
        font-size: 12px;
        margin-bottom: 2px;
      }
      textarea{
        font-family: 'regl-Font';
        resize: none;
        height: 80px;
      }
      .resto__add_btn{
        width: 100%;
        padding: 15px 20px;
        background-color: #64B63D;
        color: #FFF;
        border: none;
        border-radius: 5px;
      }
    }
  }
}

// [4] ================================================================
/*
  Card
*/

.card{
  position: relative;
  width: 240px;
  height: 200px;
  margin: 0 10px 0 0;
  .card__title{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 20px;
    left: 0;
    padding: 5px 20px;
    border-radius: 0 5px 5px 0;
    letter-spacing: 1px;
  }
  .card__img_head{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    
  }
  .card__detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 10px;
    div:nth-child(2){
      justify-content: center;
    }
    div{
      display: flex;
      align-items: center;
      .card__btn{
        padding: 13px 20px;
        border-radius: 5px;
        background-color: $dark-color;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

 
// [5] ================================================================
/*
  Footer
*/
footer {
  padding: 16px;
}
 
footer p {
  text-align: center;
  color: #aaaaaa;
}
 
footer p a {
  color: $primary-color;
  text-decoration: none;
  padding: 15px 5px;
}

// [6] ================================================================
/*
  etc
*/
#resta_not_found{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'semi-font';
  color: #767676;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #64B63D;
  color: white;
  padding: 8px;
  z-index: 100;
  font-family: 'regl-Font';
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.skip-link:focus {
  top: 20px;
  left: 10px;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .card__title {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);  
  }
}
